@model List<DogWalkerAgain.Models.Walk>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="map">

    </div>

    <script>
    //function initMap() {
    //    var location = { lat: 43.03, lng: -87.906 };
    //    var map = new google.maps.Map(document.getElementById("map"), {
    //        zoom: 4,
    //        mapTypeId: google.maps.mapTypeId.hybrid,
    //        center: location
    //    });
        //var marker = new google.maps.Marker({

        //})

        function initMap() {

            map_options = {

                zoom: 11,

                mapTypeId: google.maps.MapTypeId.HYBRID,

                center: { lat: 42.9446, lng: -87.906 }

            }



            map_document = document.getElementById('map')

            map = new google.maps.Map(map_document, map_options);

        
        }

        google.maps.event.addDomListener(window, 'load', initMap);

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.map&callback=initMap">
        
    </script>
</body>
</html>