@model DogWalkerAgain.Models.Walker


<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title></title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #map {
            height: 500px;
            width: 100%;
            background-color: grey;
        }

        
        
    </style>
</head>
<body>

    <div id="map">

    </div>

    <input id="city">
    <button id="getWeatherForecast">Get Weather</button>
    <div id="showWeatherForecast"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            console.log("TEST");
            $("#getWeatherForecast").click(function(){
                var city = $("#city").val();
                var key = '';
                console.log("CLICKED");
                $.ajax({
                    url: 'http://api.openweathermap.org/data/2.5/weather',
                    dataType: 'json',
                    type: 'GET',
                    data: { q: city, appid: key, units: 'metric' },
              

                    success: function (data) {
                        console.log("YAY!");
                        var wf = '';
                        $.each(data.weather, function (index, val) {
                            wf += '<p><b>' + data.name + "</b><img src=" + val.icon + 
                              "  .png ></p > " +
                            data.main.temp + '&deg;C ' + ' | ' + val.main + ", " +
                            val.description 
                        
                        });
                        $("#showWeatherForecast").html(wf);
                    },
                    error: function () {
                        console.log("Nooo...");
                    }
                });
            });
        });
    
        function initMap() {
            var location = { lat: 43.03, lng: -87.906 };
            var icon = {
                url: '../../Content/paw.jpg',
                scaledSize: new google.maps.Size(50, 50)
            }
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                animation: google.maps.Animation.BOUNCE,
                map: map,
                icon: icon
            });
           


        }

        
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=KEYHERE&callback=initMap">

       
    </script>
    
    

   

</body>
</html>