@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
    <div class="col-md-9">
    <h1>Dog Walker</h1>
    <p class="lead"> Help us bring the world closer through our dogs.</p>
    <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Join us &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <center><img src="~/Images/Logo.png" alt="Dog Walker" /></center>
    </div>
        </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>
            
        </p>
    </div>
    <div class="col-md-4">
        <h2>MORE ABOUT</h2>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p>

        </p>
    </div>
</div>